{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Your Gourmet Profile" %}
{% set active_page = "user_profile" %}

{% block content %}

<div class="container py-5">
    <div class="profile-header text-center">
        <h1>Welcome Back, {{ user.given_name }}!</h1>
        <p class="lead">Here's your personalized gourmet profile.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-body bg-light mt-3">
                <h2 class="text-center mb-4">Profile Details</h2>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email:</label>
                    <input disabled type="text" name="email" id="email-input" class="form-control" value="{{ user.email }}" title="Email cannot be changed" style="cursor: not-allowed; background-color: #f8f9fa;">
                </div>

                <div class="mb-3">
                    <label for="first-name-input" class="form-label">First Name:</label>
                    <input disabled type="text" name="first_name" id="first-name-input" class="form-control" value="{{ user.given_name }}">
                </div>

                <div class="mb-3">
                    <label for="last-name-input" class="form-label">Last Name:</label>
                    <input disabled type="text" name="last_name" id="last-name-input" class="form-control" value="{{ user.family_name }}">
                </div>
            </div>

            <div class="card card-body mt-3">
                <div class="text-center">
                    <p>Your journey with us is valued. Thank you for being a part of Gourmet Delights.</p>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
